.artigo{
   padding:0px 20px 0px 20px;
   border:solid rgb(57, 62, 70) 1px;
   border-radius:5px;
   display:flex;
   flex-direction:column;
   justify-content: center;
   padding:20px;
}

.artigo h5,p{
    font-size:16px;
    font-weight:400;
}

.perfil figure{
    margin:0;
}

.perfil{
   display:grid;
   grid-template-columns:30% 70%;
   justify-content:center;
}

.artigo img{
    width:35px;
    margin:0px 5px 0px 5px;
}

.artigo img:first-of-type{
    margin:0px 5px 0px 0px;
}

.artigo h4{
    font-size:20px;
}

.artigo h4:last-of-type{
    border-top:solid rgb(61, 61, 66) 3px;
    padding-top:18px;
    margin:9px 0px 18px 0px;
}

.artigo figure{
    display:flex;
    flex-flow:row wrap;
    gap:5px;
}

.perfil div{
    display:flex;
    align-items:start;
    justify-content:center;
    flex-direction:column;
}

.perfil h6{
    color:rgb(185, 185, 185);
    margin:0;
}

.profile{
    margin-bottom:30px!important;
}

.profile img{
    margin-bottom:10px;
    border-radius:50%;
    width: 250px;
    height:260px;
}

section{
    color:white;
}

@media (max-width:1320px){
    .perfil{
        display:flex;
        flex-direction:column;
     }

     .profile{
        display:flex;
        flex-flow:row wrap;
        align-items:center;
     }

     .profile img{
        width:200px;
        height:210px;
        margin:0px 30px 0px 0px;
     }
}

@media (max-width:700px){
    .profile img{
        width:130px;
        height:140px;
        margin:0px 30px 0px 0px;
     }
}